*.pyc
*.csv
*.sqlite
*.json
analysis\visualizations\wordclouds\*
analysis/visualizations/wordclouds/*
cookies.txt
proxies.txt
uas.txt
analysis/visualizations/wordclouds.zip

analysis/visualizations/week_wordclouds/*